.AdminNavi {
  width: 90%;
  margin: auto;
  background: #2c4a9d;
  font-family: Hoefler Text;
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__content{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      background-color: #000000;
        img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin: auto;
 
    }
    h3 {
      text-align: center;
      background-color: #ffffff;
      color: #000000;
      padding: 10px;
    }
    h4 {
      text-align: center;
      background-color: #ffffff;
      color: #000000;
      padding: 8px;
      padding-top: 12px;
    }
    .logButt {
      margin-left: 30%;
    }
    }

  }
  

}
// @media only screen and (max-width: 500px) {
//   .AdminNavi {
//     width: 100%;
//     margin-top: 10%;
//     font-family: Hoefler Text;
//     background-color: transparent;
//     img {
//       margin-left: 10%;
//     }
//     h3 {
//       text-align: center;
//       padding: 10px;
//     }
//     h4 {
//       margin-top: 0px;
//       background-color: rgb(90, 68, 68);
//       padding: 8px;
//       padding-top: 12px;
//     }
//   }
// }
