.adminCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  box-shadow: 10px 9px 18px 6px rgba(128, 128, 128, 1);
  width: 95%;
  h2 {
    color: black;
    text-align: center;
    font-weight: 550;
  }

  .table-wrapper-scroll-y {
    display: block;
    max-height:600px;
    margin: 0 auto;
    max-width: auto;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-wrapper-scroll-y th,
  td {
    white-space: nowrap;
  }

  table {
    padding-bottom: 5px;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
  }
  th,
  td {
    padding: 15px;
    padding-right: 5px;
    border: 1px solid black;
    border-collapse: collapse;
  }
}
