.estRecordCont {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 95%;
    margin: 30px auto;
    &__left {
      width: 40%;
    }
    &__right {
      width: 60%;
  
    .table-wrapper-scroll-y {
      display: block;
      max-height: 500px;
      margin: 0 auto;
      max-width: auto;
      overflow-y: auto;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .table-wrapper-scroll-y th,
    td {
      white-space: nowrap;
    }

    &__Table {
      background-color: white;
      padding: 10px;
      -webkit-box-shadow: 10px 9px 18px 6px rgba(128, 128, 128, 1);
      -moz-box-shadow: 10px 9px 18px 6px rgba(128, 128, 128, 1);
      box-shadow: 10px 9px 18px 6px rgba(128, 128, 128, 1);
      h2 {
        color: black;
        text-align: center;
        font-weight: 550;
      }
      table {
        padding-bottom: 5px;
        width: 100%;
        border: 1px solid black;
        border-collapse: collapse;
      }
      th,
      td {
        padding: 15px;
        padding-right: 5px;
        border: 1px solid black;
        border-collapse: collapse;
      }
    }
  }
}
